.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header */
.ui.black.fluid.card{
  background-color:rgba(0,0,0,.87);
}

.ui.card>.content>.header:not(.ui){
color:#fff;
}

/* navigation */
.navigation{
  padding: 20px;
  background-color: rgb(193, 228, 233);
}

/* Components */
.components{
  text-align: left;
  margin-top: 30px;
}

.table-scrol{
  margin-top: 20px;
  max-height: 500px;
  overflow-y: auto;
}

